In [1]:
import pandas as pd
fp = "data/u.data"
df = pd.read_csv(fp, sep="\t", header=None)
df.columns = ["userID", "itemID", "rating", "timestamp"]

In [2]:
df.dtypes

userID       int64
itemID       int64
rating       int64
timestamp    int64
dtype: object

In [3]:
from datetime import datetime
type_info = {"userID": str , "itemID": str, "rating": int}
df = df.astype(type_info)

In [4]:
df_mr = df.groupby(by=["itemID"])["rating"].mean().to_frame()

In [5]:
import numpy as np
df_mr["poor_rating"] = np.where(df_mr["rating"] < 3, 1, 0)

In [6]:
df_mr["poor_rating"].describe()

count    1682.000000
mean        0.373365
std         0.483842
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: poor_rating, dtype: float64

In [7]:
fp = "data/u.item"
df_movie = pd.read_csv(fp, sep = '|', encoding = "ISO-8859-1", header= None)

movie_attr_cols = ["itemID", "title", "release_date", "video_release_date", "IMDB_URL", "G_UNKNOWN", "G_ACTION",\
              "G_ADVENTURE", "G_ANIMATION", "G_CHILDREN", "G_COMEDY", "G_CRIME", "G_DOCUMENTARY", "G_DRAMA",\
              "G_FANTASY", "G_FILM_NOIR", "G_HORROR", "G_MUISICAL", "G_MYSTERY", "G_ROMANCE", "G_SCIFI", "G_THRILLER",\
              "G_WAR", "G_WESTERN"]
df_movie.columns = movie_attr_cols

df_movie["itemID"] = df_movie["itemID"].astype(str)

In [8]:
df_movie_fe = pd.merge(df_movie, df_mr, on="itemID")

In [9]:
cn = df_movie_fe.columns.tolist()
cn.remove("video_release_date")
df_movie_fe = df_movie_fe[cn]

In [10]:
fp = "data/u.item.fe"
df_movie_fe.to_csv(fp, index=False)

In [11]:
df_movie_fe.head()

,itemID,title,release_date,IMDB_URL,G_UNKNOWN,G_ACTION,G_ADVENTURE,G_ANIMATION,G_CHILDREN,G_COMEDY,...,G_HORROR,G_MUISICAL,G_MYSTERY,G_ROMANCE,G_SCIFI,G_THRILLER,G_WAR,G_WESTERN,rating,poor_rating
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,3.878319,0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,1,0,0,3.206107,0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,3.033333,0
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,3.550239,0
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,3.302326,0